html,
body {
    height: 100%;
    font-family: 'Dancing Script', cursive;
    background-color: #FAF0E6;
}

.carousel,
.item,
.active {
    height: 100%;
 }

 .carousel-caption h1{
  font-family: 'Dancing Script', cursive;
 }
/*Makinng the carousel whole page*/
.carousel-inner {
    height: 100%;
 }

/*Fill is for the pictures in the carousel, 3 pictures for 3 slides.*/
.fill1 {
  background-image:url('https://images.unsplash.com/photo-1465588042420-47a53c2d0320?dpr=2.5&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=767&amp;h=483&amp;q=80');
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Dancing Script', cursive;
}
.fill2{
    background-image:url('https://images.unsplash.com/photo-1452711932549-e7ea7f129399?dpr=2.5&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=767&amp;h=519&amp;q=80');
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Dancing Script', cursive;
}
.fill3{
     background-image:url('https://images.unsplash.com/photo-1424878825877-7083ba5de185?dpr=2.5&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80');
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(100,100,100,250)), to(rgba(100,100,50,50,)));
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Dancing Script', cursive;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 190px;
}

.image{
  position:relative;
  width:100%;
  padding-top: 30px;
}
/*Making the small headers on the little pictures have a translucent background*/
h2 span {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding:10px;
}
/*Making the position of the titles in the correct place*/
h2{
  position:absolute;
  top:100px;
  left:0px;
  width:100%;
  color: white;
}
/*Making the heading the correct place and style*/
.container h1{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 395px;
  font-weight: 900;
}
/*Getting the footer in the right place*/
footer {
width: 100%;
float: left;
margin: 0;
padding-top: 10px;
border-radius: 0px;
background-color: #2b2d2e;
}
/*Adding the address in the right place*/
address {
font-size : 16px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020
}
/*Making the links on the litle pictures white*/
a{
  color:white;
}
/*Making them white even when you hover over them*/
a:hover {
    color: white;
}
/*Specific style for when screen is above 300px (and below 500px)(xsmall)*/
@media (min-width: 300px) {
/*Moving the heading to the left to be seen*/
  .container h1{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 0px;
  font-weight: 900;
}
/*making padding under the little images small as they stack*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
}
/*Specific style for when screen is above 300px (and below 768px)(small)*/
@media (min-width: 500px) { 
/*Adjust the heading position till it looks alright*/
  .container h1{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 100px;
  font-weight: 900;
}
/*Make space under little pictures small as they are stacked*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
}
/*Specific style for when screen is above 7680px (and below 990px)(medium)*/
@media (min-width: 768px) { 
/*Adjust the heading position till it looks alright*/
  .container h1{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 330px;
  font-weight: 900;
}
/*Make space under little pictures big as they are no longer stacked*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 190px;
}
}
/*Specific style for when screen is above 990px (large)*/
@media (min-width: 990px) { 
/*Adjust the heading position till it looks alright*/
  .container h1{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 410px;
  font-weight: 900;
}
/*Make space under little pictures big as they are no longer stacked*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 190px;
}
}


